<% content_for :guide_title do %>
  <h3 class="profile-email">
    <i class="fa fa-user"></i><span><%= current_user.email %></span>
  </h3>
<% end %>

<% if current_user.level == 3 %>
    <%= link_to 'Verify your phone', 'http://blockverse.io:3030/phones/new', class: 'btn btn-primary btn-block mb-4' %>
<% end %>
<% if current_user.level == 3 %>
    <%= link_to 'Verify your identity', 'http://blockverse.io:3030/documents/new', class: 'btn btn-primary btn-block mb-4' %> 
<% end %>
<% content_for :guide do %>
  <% if current_user.admin? %>
    <span class="badge badge-warning">ADMIN</span>
  <% end %>
<% end %>
