<% content_for :guide_title do %>
  <h3 class="profile-email">
    <i class="fa fa-user"></i><span><%= current_user.email %></span>
  </h3>
<% end %>

<h4><a href="http://blockverse.io:3030/phones/new">VERIFY YOUR PHONE</a> </h4> 
<h2><a href="http://blockverse.io:3030/documents/new">VERIFY YOUR DOCUMENTS</a>  </h2>

<% content_for :guide do %>
  <% if current_user.admin? %>
    <span class="badge badge-warning">ADMIN</span>
  <% end %>
<% end %>
